*{
	margin: 0;
	padding: 0;
}

.clear{
	clear: both;
}

body{
	background: #feedde;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 15px;
}

p{
	font-size: 14px;
}

#container{
	width: 940px;
	height: 1000px;
	background: #ffffff;
	margin:0 auto;
}

header{
	width: 900px;
	height: 80px;
	background: #eeeeee;
	margin: 0 auto;
	background: url(lesson2/bg_img/header.png);
	background-repeat: repeat-x;
	position: relative;
	background-position: 0px 70px;
}

#head-img{
	width: 265px;
	height: 60px;
	float: left;
}

#head-r{
	width: 620px;
	float: right;
}

#head-text{
	width: 100%;
	height: 30px;
	font-size: 12px;
	text-align: right;
	color: #333333;
}

#head-nav{
	width: 100%;
	height: 40px;
}

nav{
	width: 100%;
	height: 100%;
	list-style-type: none;
	display: table;
}

nav li{
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}

nav li a{
	text-decoration: none;
	color: #333333;

}

main{
	width: 100%;
	background:#b0c4de;
}

#infomation{
	width: 920px;
	height: 305px;
	background: #778899;
	margin: 20px auto 0px auto;
}

#infomation-l{
/*	width: 600px;*/
	height: 100%;
	float: left;
	background-color: #f0e68c;
	margin: 0;
	padding: 0;
}

#infomation-l img{
	margin: 30px 22px 0px 20px;
}

#infomation-r{
	width: 268px;
//	height: 200px;
//	background: #008b8b;
	float: right;
	border: 1px solid #ff0000;
}

#infomation-r h2{
	background: #ff8000;
	color: #ffffff;
	padding: 2px;
}

.nwe_infomation{
	width: 100%;
	border-bottom: 1px solid;
	border: 1px solid;
	box-sizing: border-box;
	padding: 5px 5px 5px 18px;
	line-height: 18px;
}

.nwe_infomation p{
	font-size: 13px;
}

.nwe_infomation_date{
	font-size: 11px;
	text-align: right;
	color: #696969;
}

#product{
	width: 900px;
	height: 640px;
	margin: 40px auto 0px auto;
	border: 1px solid;
}

#pic_up-area{
	width: 307px;
	background: #e69545;
	float: left;
}

#pic_up-box{
	width: 265px;
	margin: 10px auto 30px auto;
}

#pic_up-box h2{
	width: 100px;
	background: #1a1a1a;
	color: #ffffff;
}

#pic_up-box img{
	margin: 10px 0px 0px 0px;
}

#hot-product-area{
	width: 555px;
	height: 600px;
	margin-right: 5px;
	float: right;
	border: 1px solid #ff0000;
}

#hot-product-head{
	width: 100%;
	margin-right: 100px;
	background: #008b8b;
	padding: 7px 0px 7px 0px;
}

#hot-product-head h2{
	float: left;
	margin-right: 100px;
	color: #ffffff;
}

#hot-product-head p{
	font-size: 13px;
	color: #ffffff;
}

.hot-product-row{
	width: 100%;
	display: table;
	table-layout: fixed;
	padding: 10px 0px 10px 0px;
}

.row_first{
	border-top: 1px solid #333333;
	border-bottom: 1px dotted #000000;
}

.row_last{
	border-top: 1px dotted #000000;
}

.hot-product-cell{
	display: table-cell;
	background: #f5deb3;
	vertical-align: top;
}

 .hot-product_img{
 //	height: 100%;
 //	height: 300px;
  	float: left;
 	background-color: #eeeeee;
 }

.hot-product-cell img{
	
}

.hot-product_text{
	width: 60%;
	height: 100%;
	float: right;
	background-color: #deb887;
//	margin-top: 0px;
}

.hot-product_text p{
//	margin-top: 0px;
}

.hot-product_text h3{
//	margin-top: 0px;
}

footer{
	widows: 100%;
	height: 40px;
	background: #99540f;
}